{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'FriendZoneApp/headerStyle.css' %}" />
          <link rel="stylesheet" type="text/css" href="{% static 'FriendZoneApp/styles.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>{{ pageTitle }}</title>
    </head>

    <body>

    <div class="container" id = "headerBar">
        <div id = "logoStyle">
            <a href="/index"> <img src = "{% static 'logo.png' %}" height = 100> </a>
        </div>

        <p id="title">FriendZone {{ pageTitle }}  </p>

        <nav id='navlinks'>

            {% if user.is_authenticated %}
            {% else %}
                <!--<a href="/register/">Sign Up </a> &nbsp;-->
            {% endif %}

            <form class='logout-link' action="/logout/" method='POST'>
                {% csrf_token %}
                {% if user.is_authenticated %}

                    <a href="/friends/1", views.friends_view, name="friends" class="btn btn-default">Friends  </a> &nbsp;
                    <a href="/profile/{{ userProfile.id }}", view.profile_view, name="profile" class="btn btn-default">Profile</a>
                    <button class = "btn btn-default" type="submit" class="logoutButton"> Log out </button>

                {% endif %}
            </form>
        </nav>


    {% if user.is_authenticated %}
        Welcome <b>{{ loggedInUser }}  <br/> <b/>
    {% else %}
        <p>log in kutta</p>
    {% endif %}

    {% block content %}
    {% endblock %}
</div>
    </body>
</html>