
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'FriendZoneApp/headerStyle.css' %}" />
        <style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

    <div class="container" id = "headerBar">
        <div id = "logoStyle">
            <a href="/index"> <img src = "{% static 'logo.png' %}" height = 100> </a>
        </div>

        <p id="title">FriendZone {{ pageTitle }}  </p>

        <nav id='navlinks'>
            <a href="">Link 1 </a> &nbsp;
            {% if user.is_authenticated %}
            {% else %}
                <a href="/register/">Sign Up </a> &nbsp;
            {% endif %}
            <a href="">Link 3 </a>

            <form class='logout-link' action="/logout/" method='POST'>
                {% csrf_token %}
                {% if user.is_authenticated %}
                    <button type="submit" class="logoutButton"> Log out Now Bitch </button>
                {% endif %}
            </form>
        </nav>
    </div>

    {% if user.is_authenticated %}
        <p>Welcome !!!</p>
    {% else %}
        <p>log in biatch</p>
    {% endif %}

    {% block content %}
    {% endblock %}

    </body>
</html>
