{% extends "FriendZoneApp/header.html" %}
{% block content %}

    {% if loggedin %}
        <table>
            <tr>
                <td>
                    {% if profile.image %}
                        <img></img>
                    {% else %}
                        <img></img>
                    {% endif %}
                </td>
                <td>
                </td>
            </tr>
        
        </table>
    {% else %}

        <br>
        <br>
    {% endif %}

        GHANA
        <table border="solid">
        {% for member in members %}
            <tr>
                <td>MEmber: {{ member.user }}</td>
                <td>Hobbies: 
                    {% for h in member.hobby.all %} 
                        {{ h.hobby }}
                    {% endfor %}
                </td>
                <td>Add Friend</td>
            </tr>
        {% endfor %}
        </table>

        <br/> Next Shit
        <br>
        {{ loggedInUser }} <br/>
        {% for h in userProfile.hobby.all %} 
            {{ h.hobby }}
        {% endfor %} <br/>
        
        {% for oU in otherUsers %}
            {{ oU. }}
        {% endfor %}      
        


{% endblock %}
