{% extends "FriendZoneApp/header.html" %}
{% block content %}

{% if userProfile %}
    {% if userProfile.image %}
        <img src="{{ userProfile.image.url }}" width = "200">
    {% else %}
        <img src = "/media/default.jpg" width = "200">
    {% endif %}
{% else %}
    Error 1628 : Profile Image Error
{% endif %}

<p>Username: {{ user }}</p>
<p>First Name: {{ userProfile.first_name }}</p>
<p>Last Name: {{ userProfile.last_name }}</p>
{% if userProfile.gender == 'M' %}
    <p>Gender: Male<p>
{% elif userProfile.gender == 'F' %}
    <p>Gender: Female</p>
{% endif %}
<p>Age: {{ userProfile.age }}
<p>Email: {{ userProfile.email }}</p>
<h2>Hobbies:</h2>
{% for h in userProfile.hobby.all %}
    <p>{{ h.hobby }}</p>
{% endfor %}


{% endblock %}