{% extends "FriendZoneApp/header.html" %}
{% load crispy_forms_tags %}
{% block content %}

<body>

 <div class = "container">
   <div class = "col-xs-6 col-xs-offset-3">
      <div class = "panel panel-primary ">
       <div class="panel-heading">Register</div>
        <div class = "panel-body">
   <form class="register-form" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class ="btn btn-success btn-block" type="submit" value="Register">
      </form>

        </div>
      </div>
   </div>

{% endblock %}
</body>